
<script>
    function addtask(activity){

         alert("You have just spent 30 minutes on "+activity);

         $.post('/activities/addonetocounter', {activity: activity}, function () {
         		
         });
    }
    
</script>

    <div id="appheader">
       Activity List
    </div>

    <div id="userheader">
      <p>craig rees</p>

    </div>


    <div id="appbody">
        <% if (@activities != nil) then %>

            <% for activity in @activities %>

                <div id="activities">
                    <div id="activitybtn" onclick="addtask('<%=activity.task %>')"><%=activity.task %></div>
                </div>

            <% end %>

        <% else %>

            <div> No activities , please create some </div>

        <% end %>
    </div>