
<script>
    function addtask(activity){

         alert("You have just spent 30 minutes on "+activity);

         $.post('/activities/addonetocounter', {activity: activity}, function () {
         		
         });
    }
    
</script>

<h1> Activity List </h1>

<% if (@activities != nil) then %>

	<% for activity in @activities %>
		</br>
		<div >
			<div class="btn btn-large btn-primary btn-block " onclick="addtask('<%=activity.task %>')"><%=activity.task %></div>
		</div>

	<% end %>

<% else %>

	<div> No activities , please create some </div>

<% end %>